<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FZChatServer.Orm.Properties.Settings.FZChatServerDatabaseConnectionString"
            connectionString="Data Source=DESKTOP-HB6UES1;Initial Catalog=FZChatServerDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>